USE [master]
GO
/****** Object:  Database [BanVeMayBay]    Script Date: 10/23/2019 11:09:28 PM ******/
CREATE DATABASE [BanVeMayBay]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BanVeMayBay', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\BanVeMayBay.mdf' , SIZE = 3264KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'BanVeMayBay_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\BanVeMayBay_log.ldf' , SIZE = 1088KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BanVeMayBay].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BanVeMayBay]
GO
/****** Object:  Table [dbo].[Admin]    Script Date: 10/23/2019 11:09:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Admin](
	[MaThanhVien] [nvarchar](10) NOT NULL,
	[TenThanhVien] [nvarchar](50) NULL,
	[Lop] [nvarchar](50) NULL,
	[UserName] [varchar](20) NULL,
	[Password] [varchar](20) NULL,
 CONSTRAINT [PK__About__2BE0A0F0F819E239] PRIMARY KEY CLUSTERED 
(
	[MaThanhVien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ChuyenBay]    Script Date: 10/23/2019 11:09:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ChuyenBay](
	[Title] [nvarchar](50) NULL,
	[UrlAnh] [text] NULL,
	[MaChuyenBay] [nvarchar](10) NOT NULL,
	[DiemDi] [nvarchar](100) NULL,
	[DiemDen] [nvarchar](100) NULL,
	[Ngay] [date] NULL,
	[ChuyenBay] [nvarchar](50) NULL,
	[KhoiHanh] [nvarchar](10) NULL,
	[Den] [nvarchar](10) NULL,
	[Gia] [int] NULL,
	[Thue] [int] NULL,
	[GiaTreEm] [int] NULL,
	[ThueTreEm] [int] NULL,
	[GiaVeTreSoSinh] [int] NULL,
	[SoChoConTrong] [int] NULL,
	[PlaneID] [varchar](10) NULL,
	[PilotID1] [varchar](10) NULL,
	[PilotID2] [varchar](10) NULL,
 CONSTRAINT [PK__ChuyenBa__9B5036A305FD0D70] PRIMARY KEY CLUSTERED 
(
	[MaChuyenBay] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[HanhKhach]    Script Date: 10/23/2019 11:09:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HanhKhach](
	[MaHanhKhach] [nvarchar](10) NOT NULL,
	[GioiTinh] [nvarchar](3) NULL,
	[HoTen] [nvarchar](50) NULL,
	[NgaySinh] [date] NULL,
	[SohoChieu-CMND] [nvarchar](20) NULL,
	[NgayCap] [date] NULL,
	[QuocTich] [nvarchar](50) NULL,
 CONSTRAINT [PK_HanhKhach] PRIMARY KEY CLUSTERED 
(
	[MaHanhKhach] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HanhLy]    Script Date: 10/23/2019 11:09:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HanhLy](
	[MaHanhLy] [nvarchar](10) NOT NULL,
	[LoaiHanhLy] [int] NULL,
	[GiaTien] [int] NULL,
 CONSTRAINT [PK_HanhLy] PRIMARY KEY CLUSTERED 
(
	[MaHanhLy] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 10/23/2019 11:09:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KhachHang](
	[MaKhachHang] [nvarchar](10) NOT NULL,
	[HoTenKhachHang] [nvarchar](100) NULL,
	[KhuVuc] [nvarchar](50) NULL,
	[DienThoai] [varchar](10) NULL,
	[Email] [varchar](100) NULL,
	[Diachi] [nvarchar](100) NULL,
 CONSTRAINT [PK_KhachHang] PRIMARY KEY CLUSTERED 
(
	[MaKhachHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[KhachHang_ChuyenBay]    Script Date: 10/23/2019 11:09:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang_ChuyenBay](
	[MaKhachHang] [nvarchar](10) NULL,
	[MaChuyenBay] [nvarchar](10) NULL,
	[MaHanhLy] [nvarchar](10) NULL,
	[MaCode] [nvarchar](10) NOT NULL,
	[Chitiet] [nvarchar](10) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MayBay]    Script Date: 10/23/2019 11:09:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MayBay](
	[PlaneID] [varchar](10) NOT NULL,
	[MadeIn] [nvarchar](50) NULL,
	[PlaneName] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[PlaneID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PhiCong]    Script Date: 10/23/2019 11:09:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PhiCong](
	[PilotID] [varchar](10) NOT NULL,
	[PilotName] [nvarchar](50) NULL,
	[PilotAge] [int] NULL,
	[PilotAddress] [nvarchar](70) NULL,
PRIMARY KEY CLUSTERED 
(
	[PilotID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[Admin] ([MaThanhVien], [TenThanhVien], [Lop], [UserName], [Password]) VALUES (N'0001      ', N'Lê Hoàng Huynh', N'Bảo đảm an toàn thông tin', N'LHH', N'LHH')
INSERT [dbo].[Admin] ([MaThanhVien], [TenThanhVien], [Lop], [UserName], [Password]) VALUES (N'0002      ', N'Phạm Đăng Khoa', N'Bảo đảm an toàn thông tin', N'PDK       ', N'PDK       ')
INSERT [dbo].[Admin] ([MaThanhVien], [TenThanhVien], [Lop], [UserName], [Password]) VALUES (N'0003      ', N'Lê Ngọc Dự', N'An ninh hệ thống thông tin', N'LND       ', N'LND       ')
INSERT [dbo].[ChuyenBay] ([Title], [UrlAnh], [MaChuyenBay], [DiemDi], [DiemDen], [Ngay], [ChuyenBay], [KhoiHanh], [Den], [Gia], [Thue], [GiaTreEm], [ThueTreEm], [GiaVeTreSoSinh], [SoChoConTrong], [PlaneID], [PilotID1], [PilotID2]) VALUES (N'VietJet                                           ', N'vietJet.png', N'CB0001    ', N'Hà Nội (HAN)', N'TP.Hồ Chí Minh (SGN)', CAST(N'2019-10-23' AS Date), N'MTA Air', N'7:00      ', N'9:00      ', 599000, 233000, 415000, 120000, 100000, 137, N'MB0001    ', N'PC0001    ', N'PC0005    ')
INSERT [dbo].[ChuyenBay] ([Title], [UrlAnh], [MaChuyenBay], [DiemDi], [DiemDen], [Ngay], [ChuyenBay], [KhoiHanh], [Den], [Gia], [Thue], [GiaTreEm], [ThueTreEm], [GiaVeTreSoSinh], [SoChoConTrong], [PlaneID], [PilotID1], [PilotID2]) VALUES (N'VietJet                                           ', N'vietJet.png', N'CB0002    ', N'Hà Nội (HAN)', N'Đà Nẵng (DAD)', CAST(N'2019-10-09' AS Date), N'MTA Air', N'7:00      ', N'9:00      ', 823000, 137000, 634000, 50000, 75000, 246, N'MB0002    ', N'PC0002    ', N'PC0006    ')
INSERT [dbo].[ChuyenBay] ([Title], [UrlAnh], [MaChuyenBay], [DiemDi], [DiemDen], [Ngay], [ChuyenBay], [KhoiHanh], [Den], [Gia], [Thue], [GiaTreEm], [ThueTreEm], [GiaVeTreSoSinh], [SoChoConTrong], [PlaneID], [PilotID1], [PilotID2]) VALUES (N'VietJet                                           ', N'vietJet.png', N'CB0003    ', N'Đà Nẵng (DAD)', N'TP.Hồ Chí Minh (SGN)', CAST(N'2019-10-16' AS Date), N'MTA Air', N'12:00     ', N'14:00     ', 1599000, 415000, 635000, 415000, 467000, 78, N'MB0003    ', N'PC0003    ', N'PC0007    ')
INSERT [dbo].[HanhKhach] ([MaHanhKhach], [GioiTinh], [HoTen], [NgaySinh], [SohoChieu-CMND], [NgayCap], [QuocTich]) VALUES (N'KH0001', N'Bà', N'Lê Thị A', CAST(N'1967-08-20' AS Date), N'B9887545', CAST(N'2011-03-04' AS Date), N'VIET NAM')
INSERT [dbo].[HanhKhach] ([MaHanhKhach], [GioiTinh], [HoTen], [NgaySinh], [SohoChieu-CMND], [NgayCap], [QuocTich]) VALUES (N'KH0002    ', N'Ông', N'Nguyễn Văn B', CAST(N'1967-09-21' AS Date), N'B9887544', CAST(N'2011-03-05' AS Date), N'VIET NAM')
INSERT [dbo].[HanhKhach] ([MaHanhKhach], [GioiTinh], [HoTen], [NgaySinh], [SohoChieu-CMND], [NgayCap], [QuocTich]) VALUES (N'KH0003    ', N'Ông', N'Nguyễn Văn C', CAST(N'1985-08-22' AS Date), N'B9887546', CAST(N'2011-03-06' AS Date), N'VIET NAM')
INSERT [dbo].[HanhLy] ([MaHanhLy], [LoaiHanhLy], [GiaTien]) VALUES (N'HL01', 0, 0)
INSERT [dbo].[HanhLy] ([MaHanhLy], [LoaiHanhLy], [GiaTien]) VALUES (N'HL02', 15, 175000)
INSERT [dbo].[HanhLy] ([MaHanhLy], [LoaiHanhLy], [GiaTien]) VALUES (N'HL03', 20, 196000)
INSERT [dbo].[KhachHang] ([MaKhachHang], [HoTenKhachHang], [KhuVuc], [DienThoai], [Email], [Diachi]) VALUES (N'KH0001    ', N'Lê Thị A', N'Vietnam', N'0896489241', N'abc@gmail.com                                                                                       ', N'236 Hoàng Quốc Việt - Bắc Từ Liêm- Hà Nội')
INSERT [dbo].[KhachHang] ([MaKhachHang], [HoTenKhachHang], [KhuVuc], [DienThoai], [Email], [Diachi]) VALUES (N'KH0002    ', N'Nguyễn Văn B', N'Vietnam', N'0898104526', N'abcd@gmail.com                                                                                      ', N'236 Hoàng Quốc Việt - Bắc Từ Liêm- Hà Nội')
INSERT [dbo].[KhachHang] ([MaKhachHang], [HoTenKhachHang], [KhuVuc], [DienThoai], [Email], [Diachi]) VALUES (N'KH0003    ', N'Nguyễn Văn C', N'Vietnam', N'0896490631', N'ght@gmail.com                                                                                       ', N'236 Hoàng Quốc Việt - Bắc Từ Liêm- Hà Nội')
INSERT [dbo].[KhachHang_ChuyenBay] ([MaKhachHang], [MaChuyenBay], [MaHanhLy], [MaCode], [Chitiet]) VALUES (N'KH0004    ', N'CB0004    ', NULL, N'BRBYYH    ', N'Promote   ')
INSERT [dbo].[KhachHang_ChuyenBay] ([MaKhachHang], [MaChuyenBay], [MaHanhLy], [MaCode], [Chitiet]) VALUES (N'KH0002    ', N'CB0002    ', NULL, N'FERFERT   ', N'Business  ')
INSERT [dbo].[KhachHang_ChuyenBay] ([MaKhachHang], [MaChuyenBay], [MaHanhLy], [MaCode], [Chitiet]) VALUES (N'KH0003    ', N'CB0003    ', NULL, N'TYNRGB    ', N'Promote   ')
INSERT [dbo].[MayBay] ([PlaneID], [MadeIn], [PlaneName]) VALUES (N'MB0001    ', N'VietNam', N'MTA 787')
INSERT [dbo].[MayBay] ([PlaneID], [MadeIn], [PlaneName]) VALUES (N'MB0002    ', N'VietNam', N'MTA 789')
INSERT [dbo].[MayBay] ([PlaneID], [MadeIn], [PlaneName]) VALUES (N'MB0003    ', N'VietNam', N'MTA 790')
INSERT [dbo].[PhiCong] ([PilotID], [PilotName], [PilotAge], [PilotAddress]) VALUES (N'PC0001    ', N'Lê Hoàng Huynh', 21, N'236 Hoàng Quốc Việt')
INSERT [dbo].[PhiCong] ([PilotID], [PilotName], [PilotAge], [PilotAddress]) VALUES (N'PC0002    ', N'Phạm Đăng Khoa', 21, N'236 Hoàng Quốc Việt')
INSERT [dbo].[PhiCong] ([PilotID], [PilotName], [PilotAge], [PilotAddress]) VALUES (N'PC0003    ', N'Lê Ngọc Dự', 21, N'236 Hoàng Quốc Việt')
ALTER TABLE [dbo].[ChuyenBay]  WITH CHECK ADD  CONSTRAINT [FK_ChuyenBay_MayBay] FOREIGN KEY([PlaneID])
REFERENCES [dbo].[MayBay] ([PlaneID])
GO
ALTER TABLE [dbo].[ChuyenBay] CHECK CONSTRAINT [FK_ChuyenBay_MayBay]
GO
ALTER TABLE [dbo].[ChuyenBay]  WITH CHECK ADD  CONSTRAINT [FK_ChuyenBay_PhiCong] FOREIGN KEY([PilotID1])
REFERENCES [dbo].[PhiCong] ([PilotID])
GO
ALTER TABLE [dbo].[ChuyenBay] CHECK CONSTRAINT [FK_ChuyenBay_PhiCong]
GO
ALTER TABLE [dbo].[KhachHang_ChuyenBay]  WITH CHECK ADD  CONSTRAINT [FK_KhachHang_ChuyenBay_ChuyenBay] FOREIGN KEY([MaChuyenBay])
REFERENCES [dbo].[ChuyenBay] ([MaChuyenBay])
GO
ALTER TABLE [dbo].[KhachHang_ChuyenBay] CHECK CONSTRAINT [FK_KhachHang_ChuyenBay_ChuyenBay]
GO
ALTER TABLE [dbo].[KhachHang_ChuyenBay]  WITH CHECK ADD  CONSTRAINT [FK_KhachHang_ChuyenBay_HanhKhach] FOREIGN KEY([MaKhachHang])
REFERENCES [dbo].[HanhKhach] ([MaHanhKhach])
GO
ALTER TABLE [dbo].[KhachHang_ChuyenBay] CHECK CONSTRAINT [FK_KhachHang_ChuyenBay_HanhKhach]
GO
ALTER TABLE [dbo].[KhachHang_ChuyenBay]  WITH CHECK ADD  CONSTRAINT [FK_KhachHang_ChuyenBay_HanhLy] FOREIGN KEY([MaHanhLy])
REFERENCES [dbo].[HanhLy] ([MaHanhLy])
GO
ALTER TABLE [dbo].[KhachHang_ChuyenBay] CHECK CONSTRAINT [FK_KhachHang_ChuyenBay_HanhLy]
GO
ALTER TABLE [dbo].[KhachHang_ChuyenBay]  WITH CHECK ADD  CONSTRAINT [FK_KhachHang_ChuyenBay_KhachHang] FOREIGN KEY([MaKhachHang])
REFERENCES [dbo].[KhachHang] ([MaKhachHang])
GO
ALTER TABLE [dbo].[KhachHang_ChuyenBay] CHECK CONSTRAINT [FK_KhachHang_ChuyenBay_KhachHang]
GO
/****** Object:  StoredProcedure [dbo].[Account_Login]    Script Date: 10/23/2019 11:09:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create Proc [dbo].[Account_Login]
	@username varchar(10),
	@password varchar(10)
as
begin 
	declare @count int
	declare @res bit
	select @count = count(*) from Admin as a where a.UserName = @username and a.Password = @password
	if @count > 0
		set @res = 1
	else 
		set @res = 0
	select @res
end 


GO
/****** Object:  StoredProcedure [dbo].[ThemKhachHang]    Script Date: 10/23/2019 11:09:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[ThemKhachHang]
@HoTen nvarchar(100),
@KhuVuc nvarchar(50),
@DienThoai varchar(10),
@email varchar(100),
@Diachi nvarchar(100)
as
begin 
	declare @count int 
	declare @MaKhachHang varchar(10)
	select @count = count(*) from KhachHang as kh where kh.DienThoai = @DienThoai or kh.Email = @email 
	if (@count = 0)
		insert into KhachHang(MaKhachHang,HoTenKhachHang,KhuVuc,DienThoai,Email,Diachi) values('KH'+CONVERT(NVARCHAR(4),cast(rand()*10000 as int)), @HoTen, @KhuVuc, @DienThoai, @email, @Diachi)
	select @count
end


GO
USE [master]
GO
