
@{
    Layout = "~/Views/Shared/_Layout1.cshtml";
}
@if (TempData["layout"] != null)
{
    if (TempData["layout"].ToString() == "logged in")
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_Layout1.cshtml";
    }
}
<div id="wrap">
    <h4 class="head-title3"><a href="gioi-thieu-ve-chung-toi.html">Giới thiệu về chúng tôi</a></h4>
    <p style="text-align: justify;"><strong><strong>Phạm Đăng Khoa - Bảo đảm an toàn thông tin </strong></strong></p>
    <p style="text-align: justify;"><strong><strong>Lê Hoàng Huynh - Bảo đảm an toàn thông tin </strong></strong></p>
    <p style="text-align: justify;"><strong><strong>Lê Ngọc Dự - An ninh hệ thống thông tin </strong></strong></p>
    <p style="text-align: justify;"><strong><strong>Nguyễn Trọng Long - Công nghệ thông tin 1 </strong></strong></p>
</div>
