@{
    Layout = "~/Views/Shared/_Layout1.cshtml";
}
@if (TempData["layout"] != null)
{    
    if(TempData["layout"].ToString() == "logged in")
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_Layout1.cshtml";
    }
}

    <div id="wrap2">







        <div class="clear"></div>



        <div class="search-flightd">
            <div class="search-flight">
                <div class="tabABAY">
                    <h2 class="tabDatvemaybay">
                        <img src="/userupload/Plane.png" class="airplane" alt=""> Vé máy bay
                        <div class="clr"></div>
                    </h2>
                    <a href="https://www.agoda.com/vi-vn?cid=1759323" target="_blank" rel="nofollow">
                    </a>
                    <div class="clr"></div>
                </div>
                <div class="content-flight">

                    <form method="POST" class="search-form" action="~/Home/SearchResult">
                        <div class="pad3">

                            <!--line-->
                            <div class="clear"></div>
                            <div class="radiox" style="color: #333; padding: 4px 0px;">

                                <label><input type="radio" name="flightType" checked="" id="flightType1" value="0"> Một chiều</label>
                                <label><input type="radio" name="flightType" id="flightType" value="1"> Khứ hồi</label>
                            </div>
                            <div class="col1">
                                <div class="in">
                                    <div class="in-left">
                                        <div class="input-group" style="overflow: hidden; width: 204px; border-right: 1px solid rgb(105, 105, 105);">

                                            <select name="depAirport" id="depAirport" data-mini="true" class="airport-input" placeholder="Điểm khởi hành">
                                                <option value="" disabled="" class="grot">Vietnam</option>
                                                <option value="Hà Nội (HAN)">Hà Nội (HAN)</option>
                                                <option selected="selected" value="TP.Hồ Chí Minh (SGN)">TP.Hồ Chí Minh (SGN)</option>
                                                <option value="Huế (HUI)">Huế (HUI)</option>

                                                <option value="Đà Nẵng (DAD)">Đà Nẵng (DAD)</option>
                                                <option value="Nha Trang (CXR)">Nha Trang (CXR)</option>
                                                <option value="Phú Quốc (PQC)">Phú Quốc (PQC)</option>
                                                <option value="Đà Lạt (DLI)">Đà Lạt (DLI)</option>

                                                <option value="Hải Phòng (HPH)">Hải Phòng (HPH)</option>
                                                <option value="Vân Đồn (VDO)">Vân Đồn (VDO)</option>
                                                <option value="Thanh Hóa (THD)">Thanh Hóa (THD)</option>

                                                <option value="Vinh (VII)">Vinh (VII)</option>
                                                <option value="Đồng Hới (VDH)">Đồng Hới (VDH)</option>

                                                <option value="TChu Lai (VCL)">Chu Lai (VCL)</option>
                                                <option value="Quy Nhơn (UIH)">Quy Nhơn (UIH)</option>
                                                <option value="Tuy Hòa (TBB)">Tuy Hòa (TBB)</option>

                                                <option value="Cần Thơ (VCA)">Cần Thơ (VCA)</option>

                                                <option value="Pleiku (PXU)">Pleiku (PXU)</option>
                                                <option value="Ban Mê Thuột (BMV)">Ban Mê Thuột (BMV)</option>

                                                <option value="" disabled="" class="grot">Ấn Độ</option>
                                                <option value="New Delhi (DEL)">New Delhi (DEL)</option>

                                                <option value="" disabled="" class="grot">Thailand</option>
                                                <option value="Bangkok (BKK)">Bangkok (BKK)</option>
                                                <option value="Phuket (CNX)">Chiang Mai (CNX)</option>
                                                <option value="Phuket (HKT)">Phuket (HKT)</option>

                                                <option value="" disabled="" class="grot">Indonesia</option>
                                                <option value="Ngurah Rai - Bali (DPS)">Ngurah Rai - Bali (DPS)</option>

                                                <option value="" disabled="" class="grot">Singapore</option>
                                                <option value="Singapore (SIN)">Singapore Terminal 4(SIN)</option>

                                                <option value="" disabled="" class="grot">Malaysia</option>
                                                <option value="Kuala Lumpur (KUL)">Kuala Lumpur KLIA (KUL)</option>

                                                <option value="" disabled="" class="grot">Japan</option>
                                                <option value="Osaka (KIX)">Osaka (KIX)</option>
                                                <option value="Tokyo (NRT)">Tokyo (NRT)</option>

                                                <option value="" disabled="" class="grot">Korea</option>
                                                <option value="Seoul (ICN)">Seoul (ICN)</option>
                                                <option value="Busan (PUS)">Busan (PUS)</option>
                                                <option value="Daegu (TAE)">Daegu (TAE)</option>

                                                <option value="" disabled="" class="grot">Myanmar</option>
                                                <option value="Yangon (RGN)">Yangon (RGN)</option>

                                                <option value="" disabled="" class="grot">Hong  Kong</option>
                                                <option value="Hồng Kông (HKG)">Hong Kong (HKG)</option>

                                                <option value="" disabled="" class="grot">Cambodia</option>
                                                <option value="Phnom penh (PNH)">Phnom penh (PNH)</option>
                                                <option value="Siem Reap (REP)">Siem Reap (REP)</option>

                                                <option value="" disabled="" class="grot">Taiwan</option>
                                                <option value="Taipei (TPE)">Taipei (TPE)</option>
                                                <option value="Cao Hùng (KHH)">Cao Hùng (KHH)</option>
                                                <option value="Đài Nam (TNN)">Đài Nam (TNN)</option>
                                                <option value="Taichung (RMQ)">Taichung (RMQ)</option>

                                                <option value="" disabled="" class="grot">Other</option>
                                                <option value="Hàng Châu (HGH)">Hàng Châu (HGH)</option>

                                            </select>

                                            <div class="clear"></div>
                                        </div>
                                    </div>

                                    <div class="clear"></div>
                                </div>
                                <div class="clear"></div>
                                <div class="in">
                                    <div class="in-left">
                                        <div class="input-group" style="overflow: hidden; width: 204px; border-right: 1px solid rgb(105, 105, 105);">
                                            <select name="arvAirport" id="arvAirport" data-mini="true" class="airport-input" placeholder="Điểm đến">
                                                <option value="" disabled="" class="grot">Vietnam</option>
                                                <option selected="selected" value="Hà Nội (HAN)">Hà Nội (HAN)</option>
                                                <option value="TP.Hồ Chí Minh (SGN)">TP.Hồ Chí Minh (SGN)</option>
                                                <option value="Huế (HUI)">Huế (HUI)</option>

                                                <option value="Đà Nẵng (DAD)">Đà Nẵng (DAD)</option>
                                                <option value="Nha Trang (CXR)">Nha Trang (CXR)</option>
                                                <option value="Phú Quốc (PQC)">Phú Quốc (PQC)</option>
                                                <option value="Đà Lạt (DLI)">Đà Lạt (DLI)</option>

                                                <option value="Hải Phòng (HPH)">Hải Phòng (HPH)</option>
                                                <option value="Vân Đồn (VDO)">Vân Đồn (VDO)</option>
                                                <option value="Thanh Hóa (THD)">Thanh Hóa (THD)</option>

                                                <option value="Vinh (VII)">Vinh (VII)</option>
                                                <option value="Đồng Hới (VDH)">Đồng Hới (VDH)</option>

                                                <option value="Chu Lai (VCL)">Chu Lai (VCL)</option>
                                                <option value="Quy Nhơn (UIH)">Quy Nhơn (UIH)</option>
                                                <option value="Tuy Hòa (TBB)">Tuy Hòa (TBB)</option>

                                                <option value="Cần Thơ (VCA)">Cần Thơ (VCA)</option>

                                                <option value="Pleiku (PXU)">Pleiku (PXU)</option>
                                                <option value="Ban Mê Thuột (BMV)">Ban Mê Thuột (BMV)</option>

                                                <option value="" disabled="" class="grot">Ấn Độ</option>
                                                <option value="New Delhi (DEL)">New Delhi (DEL)</option>

                                                <option value="" disabled="" class="grot">Thailand</option>
                                                <option value="Bangkok (BKK)">Bangkok (BKK)</option>
                                                <option value="Phuket (CNX)">Chiang Mai (CNX)</option>
                                                <option value="Phuket (HKT)">Phuket (HKT)</option>

                                                <option value="" disabled="" class="grot">Indonesia</option>
                                                <option value="Ngurah Rai - Bali (DPS)">Ngurah Rai - Bali (DPS)</option>

                                                <option value="" disabled="" class="grot">Singapore</option>
                                                <option value="Singapore (SIN)">Singapore Terminal 4(SIN)</option>

                                                <option value="" disabled="" class="grot">Malaysia</option>
                                                <option value="Kuala Lumpur (KUL)">Kuala Lumpur KLIA (KUL)</option>

                                                <option value="" disabled="" class="grot">Japan</option>
                                                <option value="Osaka (KIX)">Osaka (KIX)</option>
                                                <option value="Tokyo (NRT)">Tokyo (NRT)</option>

                                                <option value="" disabled="" class="grot">Korea</option>
                                                <option value="Seoul (ICN)">Seoul (ICN)</option>
                                                <option value="Busan (PUS)">Busan (PUS)</option>
                                                <option value="Daegu (TAE)">Daegu (TAE)</option>

                                                <option value="" disabled="" class="grot">Myanmar</option>
                                                <option value="Yangon (RGN)">Yangon (RGN)</option>

                                                <option value="" disabled="" class="grot">Hong  Kong</option>
                                                <option value="Hồng Kông (HKG)">Hong Kong (HKG)</option>

                                                <option value="" disabled="" class="grot">Cambodia</option>
                                                <option value="Phnom penh (PNH)">Phnom penh (PNH)</option>
                                                <option value="Siem Reap (REP)">Siem Reap (REP)</option>

                                                <option value="" disabled="" class="grot">Taiwan</option>
                                                <option value="Taipei (TPE)">Taipei (TPE)</option>
                                                <option value="Cao Hùng (KHH)">Cao Hùng (KHH)</option>
                                                <option value="Đài Nam (TNN)">Đài Nam (TNN)</option>
                                                <option value="Taichung (RMQ)">Taichung (RMQ)</option>

                                                <option value="" disabled="" class="grot">Other</option>
                                                <option value="Hàng Châu (HGH)">Hàng Châu (HGH)</option>

                                            </select>

                                            <div class="clear"></div>
                                        </div>
                                    </div>

                                    <div class="clear"></div>
                                </div>
                                <style>
                                    #depAirport > option {
                                        text-indent: 15px;
                                    }

                                    #arvAirport > option {
                                        text-indent: 15px;
                                    }

                                    .grot {
                                        color: red;
                                        font-weight: bold;
                                        font-style: italic;
                                        text-indent: 0 !important;
                                    }
                                </style>
                                <div class="in-right">
                                    <div class="bg-text">
                                        <div class="col-xs-6" style="float: left; width: 106px;">
                                            <label for="depAirport">Ngày đi</label>
                                            <img src="/userupload/up.png" class="hotel" alt="" style="float: right;">
                                        </div>
                                        <div class="col-xs-6" style="float: left; width: 103px;">
                                            <label for="depAirport">Ngày về</label>
                                            <img src="/userupload/down.png" class="hotel" alt="" style="float: right;">
                                        </div>

                                        <input type="text" id="depDate" name="depDate" class="flight-date" value="@DateTime.Today.ToString("dd/MM/yyyy")" />

                                        <input type="text" id="rtnDate" name="rtnDate" class="flight-date" value="@DateTime.Today.AddDays(3).ToString("dd/MM/yyyy")" />
                                    </div>
                                </div>


                            </div>

                            <style>
                                .col2 .field {
                                    margin-bottom: 21px;
                                }

                                .in {
                                    margin-bottom: 9px !important;
                                    margin-top: 3px;
                                }

                                .content-flight label {
                                    color: white;
                                }
                            </style>
                            <div class="col2">

                                <div class="field">
                                    <label id="ctl05_ctl08_ctl00_rptNavigationSection_ctl00_0_rptTopNavigationLevel1_0_ctl00_0_lblAdults_0" for="ddlAdults" style="position: relative; top: -8px;">
                                        Người lớn
                                        <span style="position: absolute; left: 14px; font-weight: bold; font-size: 10px; top: 17px;">&gt;=12 tuổi</span>
                                    </label>
                                    <select id="ddlAdults" name="adultNo">
                                        <option value="1" selected="selected">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        <option value="7">7</option>
                                        <option value="8">8</option>
                                        <option value="9">9</option>

                                    </select>
                                </div>
                                <div class="field">
                                    <label for="ddlKids" style="position: relative; top: -8px;">
                                        Trẻ
                                        <span>em</span>
                                        <span style="position: absolute; left: 14px; font-weight: bold; font-size: 10px; top: 17px;">2-11 tuổi</span>
                                    </label>
                                    <select id="ddlKids" name="childNo">
                                        <option value="0" selected="selected">0</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        <option value="7">7</option>
                                        <option value="8">8</option>
                                        <option value="9">9</option>

                                    </select>

                                </div>
                                <div class="field">
                                    <label for="ddlInfants" style="position: relative; top: -8px;">
                                        Em
                                        <span>bé</span>
                                        <span style="position: absolute; left: 9px; font-weight: bold; font-size: 10px; top: 17px;">< 24 tháng</span>
                                    </label>
                                    <select id="ddlInfants" name="infantNo">
                                        <option value="0" selected="selected">0</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        <option value="7">7</option>
                                        <option value="8">8</option>
                                        <option value="9">9</option>
                                    </select>

                                </div>
                            </div>







                            <div class="clear"></div>
                            <div class="">

                                <div class="fields travel-range clearer">
                                    <div class="field radio">
                                        <input type="radio" checked="checked" name="rdoTravelPref" id="rdoTravelPrefFixed">
                                        <label class="small" for="rdoTravelPrefFixed">
                                            Bay vào ngày này
                                        </label>
                                    </div>   <a rel="#overlay" class="info-icon-text launch-modal" id="ctl05_ctl08_ctl00_rptNavigationSection_ctl00_0_rptTopNavigationLevel1_0_ctl00_0_aChildren_0" href="#" style="float: right;  padding-right: 19px; padding-top: 8px;">Trẻ em cần người giám hộ</a> <div class="clear"></div>
                                    <div class="field radio" style="display: block;">
                                        <!-- input type="radio" name="rdoTravelPref" id="rdoTravelPrefCheap" -->
                                        <img src="~/Content/image/new-xxl.png" style="width: 23px; margin-bottom: -6px;">
                                        <a href="tim-ve-thang.html" target="_blank" class="small" for="rdoTravelPrefCheap" style=" font-weight: bold;">
                                            Tìm vé rẻ trong tháng
                                        </a>
                                    </div>

                                </div>







                            </div>


                            <div class="clear"></div>

                            <div class="field right">
                                <button id="btnSearchForFlights" class="png-bg" >
                                    <img alt="Tìm chuyến bay" src="~/Content/image/timicon.png" style="border-width: 0px; width: 24px; margin: 0px -1px -4px 0px;">
                                    Tìm chuyến bay
                                </button>
                            </div>

                            <div style="float: left; padding: 15px 0 0 5px; font-weight: bold;"> <a target="blank" href="huong-dan-dat-cho.html" style="font-family: tahoma;">* Hướng dẫn đặt chỗ</a> </div>

                            <div style="float: right; padding: 15px 23px 4px 3px; font-weight: bold;"> <a target="blank" href="https://m.vietjetair.com/#src/check_in/step1_enter_info.html" style="font-family: tahoma;">* Check-In online</a> </div>


                        </div>
                    </form>
                    
                </div>

            </div>


            <link rel="stylesheet" href="~/themes/nokair/assets/slide2019/css/flexslider.css" />
            <link rel="stylesheet" href="~/themes/nokair/assets/slide2019/css/demo.css" />
            <style type="text/css">
            </style>
            <div id="hero">
                <div class="flexslider">
                    <ul class="slides">


                        <li><a href="~/javascript:void(0)"> <img src="~/userupload/silde/Mo_ban_ve_vietjet_Ha_noi_da_nang_ho_chi_minh_di_nhat_ban.jpg" alt="Mùa thu Nhật Bản" data-thumbnail="thumb5495.jpg?src=userupload/silde/Mo_ban_ve_vietjet_Ha_noi_da_nang_ho_chi_minh_di_nhat_ban.jpg&amp;h=150&amp;zc=1" />  </a></li>

                        <li><a href="~/javascript:void(0)"> <img src="~/userupload/silde/DU_LICH_HES.png" alt="Khuyến mãi hấp dẫn" data-thumbnail="thumb0953.png?src=userupload/silde/DU_LICH_HES.png&amp;h=150&amp;zc=1" />  </a></li>

                        <li><a href="~/javascript:void(0)"> <img src="~/userupload/hinh2019/ve_may_bay_vietjet_mua_he_soi_dong_2019.png" alt="Mùa hè sôi động" data-thumbnail="thumb9c8b.png?src=userupload/hinh2019/ve_may_bay_vietjet_mua_he_soi_dong_2019.png&amp;h=150&amp;zc=1" />  </a></li>


                    </ul>
                </div>
            </div>

            <script src="~/themes/nokair/assets/slide2019/js/jquery.flexslider-min.js"></script>
            <script src="~/themes/nokair/assets/slide2019/js/demo.js"></script>



        </div>


        <script>

            $(document).ready(function () {

            });



        </script>



















        <div class="clear"></div>
        <div class="clear40x"></div>



        <div class="claimer">

            <div class="specials-wrapper clearfix">

                <div style="min-height: 0px; font-family: GraublauWebb;" class="j30-flight-specials" id="specials_0_refreshspecials_0_pnlSpecials">
                    <h2 class="brandBold2 ">Giá ưu đãi</h2>

                    <div class="clear"></div>

                    <div class="key">
                        <span class="dest">Hành trình*</span>
                        <span class="price" style="width: 226px; padding-left: 61px; padding-right: 19px;">Giá từ*</span>
                        <span class="period">Thời gian bay*</span>
                        <span></span>
                    </div>
                    <div class="results">
                        <ul>



                            <li>
                                <a href="flight/searcha46f.html" class="lead-in">
                                    <span data-airport="" class="dest" style="padding-top: 4px;">Đà Nẵng - TP Hồ Chí Minh</span>


                                    <span class="price" style="padding-top: 4px; text-align: right; padding-right: 20px; width: 103px;"><strong class="currencyx">99000</strong></span>


                                    <span class="period" style="font-weight: bold; line-height: 27px; font-size: 15px;">16/10/2019</span>

                                    <span class="book" style="line-height: 24px;">	Mua ngay<span class="icon"></span></span>
                                </a>
                            </li>

                            <li>
                                <a href="flight/searchfc20.html" class="lead-in">
                                    <span data-airport="" class="dest" style="padding-top: 4px;">Vinh - TP Hồ Chí Minh</span>


                                    <span class="price" style="padding-top: 4px; text-align: right; padding-right: 20px; width: 103px;"><strong class="currencyx">299000</strong></span>


                                    <span class="period" style="font-weight: bold; line-height: 27px; font-size: 15px;">24/10/2019</span>

                                    <span class="book" style="line-height: 24px;">	Mua ngay<span class="icon"></span></span>
                                </a>
                            </li>

                            <li>
                                <a href="flight/searchf81d.html" class="lead-in">
                                    <span data-airport="" class="dest" style="padding-top: 4px;">Hà Nội - TP Hồ Chí Minh</span>


                                    <span class="price" style="padding-top: 4px; text-align: right; padding-right: 20px; width: 103px;"><strong class="currencyx">399000</strong></span>


                                    <span class="period" style="font-weight: bold; line-height: 27px; font-size: 15px;">10/10/2019</span>

                                    <span class="book" style="line-height: 24px;">	Mua ngay<span class="icon"></span></span>
                                </a>
                            </li>

                            <li>
                                <a href="flight/search034b.html" class="lead-in">
                                    <span data-airport="" class="dest" style="padding-top: 4px;">TP Hồ Chí Minh - Vinh</span>


                                    <span class="price" style="padding-top: 4px; text-align: right; padding-right: 20px; width: 103px;"><strong class="currencyx">299000</strong></span>


                                    <span class="period" style="font-weight: bold; line-height: 27px; font-size: 15px;">21/11/2019</span>

                                    <span class="book" style="line-height: 24px;">	Mua ngay<span class="icon"></span></span>
                                </a>
                            </li>

                            <li>
                                <a href="flight/searcheec2.html" class="lead-in">
                                    <span data-airport="" class="dest" style="padding-top: 4px;">Cần Thơ - Hải Phòng</span>


                                    <span class="price" style="padding-top: 4px; text-align: right; padding-right: 20px; width: 103px;"><strong class="currencyx">399000</strong></span>


                                    <span class="period" style="font-weight: bold; line-height: 27px; font-size: 15px;">16/10/2019</span>

                                    <span class="book" style="line-height: 24px;">	Mua ngay<span class="icon"></span></span>
                                </a>
                            </li>

                            <li>
                                <a href="flight/search9323.html" class="lead-in">
                                    <span data-airport="" class="dest" style="padding-top: 4px;">Seoul - Hải Phòng</span>


                                    <span class="price" style="padding-top: 4px; text-align: right; padding-right: 20px; width: 103px;"><strong class="currencyx">199000</strong></span>


                                    <span class="period" style="font-weight: bold; line-height: 27px; font-size: 15px;">12/10/2019</span>

                                    <span class="book" style="line-height: 24px;">	Mua ngay<span class="icon"></span></span>
                                </a>
                            </li>

                            <li>
                                <a href="flight/searche2e7.html" class="lead-in">
                                    <span data-airport="" class="dest" style="padding-top: 4px;">TP Hồ Chí Minh - Hải Phòng</span>


                                    <span class="price" style="padding-top: 4px; text-align: right; padding-right: 20px; width: 103px;"><strong class="currencyx">1260000</strong></span>


                                    <span class="period" style="font-weight: bold; line-height: 27px; font-size: 15px;">13/10/2019</span>

                                    <span class="book" style="line-height: 24px;">	Mua ngay<span class="icon"></span></span>
                                </a>
                            </li>

                            <li>
                                <a href="flight/search5ee8.html" class="lead-in">
                                    <span data-airport="" class="dest" style="padding-top: 4px;">Hà Nội - TP Hồ Chí Minh</span>


                                    <span class="price" style="padding-top: 4px; text-align: right; padding-right: 20px; width: 103px;"><strong class="currencyx">399000</strong></span>


                                    <span class="period" style="font-weight: bold; line-height: 27px; font-size: 15px;">10/10/2019</span>

                                    <span class="book" style="line-height: 24px;">	Mua ngay<span class="icon"></span></span>
                                </a>
                            </li>




                        </ul>
                    </div>
                    <div class="disclaimer">
                        <p style="font-family: GraublauWeb; font-size: 10px;">* Chưa bao gồm: Thuế + phí, hành lý ký gửi, các yêu cầu đặc biệt trong chuyến bay và có áp dụng các điều kiện. </p>
                    </div>
                </div>



                <div class="j30-alerts-and-ads">
                    <div class="callcenter">
                        Call center: 028.3898 3898
                    </div>
                    <div class="calljetstar">
                        <div style="background: rgb(253, 235, 199) none repeat scroll 0% 0%; margin: 17px 0px 10px; padding: 23px 29px 10px;" class="join-myjetstar">

                            <div class="field">

                                <form name="frmSubcribe" id="frmSubcribe" class="form-inlinex subscribe-formx" method="POST" action="https://vietjets.com.vn/home/subscribe">


                                    <input type="text" class="text focus-clear txtJetmailEmail" title="Email của bạn" id="ctl06_ctl00_JetmailSignup2_txtJetmailEmail" value="" name="email" placeholder="Đăng ký Email khuyến mãi" style="float: left; border-radius: 4px; border: 1px solid rgb(209, 209, 209); color: rgb(78, 78, 80); padding: 8px 4px; width: 205px;" />

                                    <button class="btnEmailSubmit dkmail" id="" value="" name="" type="submit">
                                        Đăng ký
                                    </button>


                                    <div class="error" style="margin-top: 10px; color: #C00101"></div>
                                </form>

                            </div>

                        </div>
                    </div>



                    <div class="j30-alerts-and-ads">
                        <div class="promo image-promo"><img src="~/userupload/Od-1_1.jpg" alt="" width="375" height="325" />&nbsp;</div>
                    </div>
                </div>
            </div>



            <div class="clear"></div>

            <hr style="border: medium none; height: 1px; background: rgb(219, 219, 219) none repeat scroll 0% 0%; width: 98%; margin-top: 10px; margin-bottom: 17px;">
        </div>

        <div class="clear"></div>






        <div class="clear"></div>
    </div>