
@{
    Layout = "~/Views/Shared/_Layout1.cshtml";
}
@if (TempData["layout"] != null)
{
    if (TempData["layout"].ToString() == "logged in")
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_Layout1.cshtml";
    }
}
<!DOCTYPE html>

<script>
    $(function () {
        $('#btnRegister').click(function () {
            var member = {
                FullName: document.getElementById("FullName").value,
                UserName: document.getElementById("UserName").value,
                Password: document.getElementById("Password").value,
                RePassword: document.getElementById("RePassword").value,
            };
            document.getElementById("btnRegister").value = "ĐANG XỬ LÝ ...";
            $.ajax({
                type: "POST",
                url: "../Home/Register",
                data: JSON.stringify(member),
                dataType: "json",
                contentType: 'application/json; charset=utf-8',
                success: function (data) {
                    var notitag = document.getElementById("Notification");
                    notitag.innerHTML = data.msg;
                    if (data.status == "ThanhCong") {
                        setTimeout(() => { console.log(""); }, 2000);
                        window.location.href = "../../Admin/Login/Login";
                    }                   
                    document.getElementById("btnRegister").value = "ĐĂNG KÝ"
                },
                error: function (data) {
                    alert('Error');
                }
            });
        });
    });
</script>



<div id="wrap">
    <style>
        #xuathoadon {
            /*	background: #F7FFF2;
                padding: 1rem;*/
            opacity: 1;
            max-height: 1000px;
            overflow: hidden;
            transition: all 1s;
        }

            #xuathoadon.an {
                company-taxid opacity: 0;
                max-height: 0;
            }

        .passenger_name {
            height: 27px;
            padding: 0 0 3px 10px;
            width: 206px;
        }
    </style>
    <div class="customer-information">

        <div class="review">
            <style>
                .block-title {
                    font-size: 13px;
                    padding: 8px 0 5px;
                }

                .block-content {
                    border: 1px solid gainsboro;
                    padding: 6px 8px 0;
                }

                .col-xs-3 {
                    float: left;
                    padding: 6px 0;
                    width: 23%;
                }

                .row {
                    overflow: auto;
                }
            </style>





        </div>



        <form>
            <h4 class="head-title1">ĐĂNG KÝ</h4>
            <table class="table1">
                <tr>
                    <td class="text-right" style="width: 29%;">Họ và tên<div style="color: red; display: inline;"> (*)</div></td>
                    <td>
                        <input name="FullName" class="form-control" id="FullName" value="" data-val="true" data-val-length="The field Name must be a string with a maximum length of 200." data-val-length-max="200" data-val-length-min="0" data-val-required="Họ tên bắt buộc" placeholder="Nguyen Van A" title="Vui lòng nhập họ tên." pattern=".{1,}" required="" />
                   </td>
                </tr>
                <div id="info">
                    <tr>
                        <td class="text-right" style="width: 29%;">Tên đăng nhập<div style="color: red; display: inline;"> (*)</div></td>
                        <td>
                            <input name="UserName" class="form-control" id="UserName" value="" data-val="true" data-val-length="The field Name must be a string with a maximum length of 200." data-val-length-max="200" data-val-length-min="0" data-val-required="Tên đăng nhập bắt buộc" placeholder="" title="Vui lòng nhập tên đăng nhập." pattern=".{1,}" required="" />

                        </td>
                    </tr>
                    <tr>
                        <td class="text-right">Mật khẩu<div style="color: red; display: inline;"> (*)</div></td>
                        <td>
                            <input type="password" name="Password" class="form-control" id="Password" value="" data-val="true" data-val-length="The field Name must be a string with a maximum length of 200." data-val-length-max="200" data-val-length-min="0" data-val-required="Mật khẩu bắt buộc" placeholder="" title="Vui lòng nhập mật khẩu." pattern=".{1,}" required="" />
                        </td>
                    </tr>
                    <tr>
                        <td class="text-right">Nhập lại mật khẩu<div style="color: red; display: inline;"> (*)</div></td>
                        <td>
                            <input type="password" name="RePassword" class="form-control" id="RePassword" value="" data-val="true" data-val-length="The field Name must be a string with a maximum length of 200." data-val-length-max="200" data-val-length-min="0" data-val-required="Mật khẩu bắt buộc" placeholder="" title="Vui lòng nhập lại mật khẩu." pattern=".{1,}" required="" />
                        </td>
                    </tr>

                    
                </div>


            </table>
            <link rel="stylesheet" href="javascript/intlTelInput/intlTelInput.css">
            <script src="javascript/intlTelInput/intlTelInput.js"></script>
            <script src="javascript/intlTelInput/ISOCtry.js"></script>

            <style>
                .FormValue {
                    padding: 6px 6px 7px;
                }
            </style>






           

            <div id="GuestInfo">
                <div class="main cf" style="display: ">
                    <div class="cheap" style="height: 41px; margin-top: 13px;">
                        <a id="Notification" class="common-button2"></a>
                    </div>
                    <div class="cheap" style="height: 41px; margin-top: 13px;">
                        <img src="~/themes/nokair/img/arrow1.gif" style="margin-top: 8px; margin-left: calc(100% - 255px);" />
                        <input id="btnRegister" class="common-button2" value="ĐĂNG KÝ" />
                    </div>


                    <div id="submitFlight" class="fixed">
                        <span class="moreScroll">Vui lòng điền đầy đủ thông tin và nhấp nút ĐĂNG KÝ  &nbsp;<img style="margin-top: -16px;" src="arrow-down.gif" /></span>
                    </div>
                    <style>
                        #submitFlight.fixed {
                            border: 1px dashed rgb(237, 27, 36);
                        }
                    </style>
                    <script>

        $('#submitFlight').show();

		$(window).scroll(function() {
			if ($(document).height()-($(window).scrollTop() + $(window).height())<380) {
				if($("#submitFlight").hasClass('fixed')){
					$("#submitFlight").removeClass('fixed');
				}
			}else{
				if(! $("#submitFlight").hasClass('fixed')){
					$("#submitFlight").addClass('fixed');
				}
			}
		});
                    </script>

                    <div class="clear"> </div> <br />

                </div>
            </div>
            <style>
                #domestict-bank-info {
                    overflow: auto;
                    padding-bottom: 10px;
                    padding-left: 11px;
                }

                .main cf .title {
                    border-bottom: 1px solid #eeeeee;
                    margin-bottom: 10px;
                    padding-bottom: 10px;
                }


                div.methods-header div.methods-header {
                    margin-right: 5px;
                }

                .methods-header {
                    border: 1px solid #808080;
                    border-radius: 3px;
                    margin-bottom: 5px;
                    margin-right: 0px;
                    margin-top: 15px;
                    overflow: auto;
                    position: relative;
                }

                    .methods-header label {
                        display: block;
                        line-height: 18px;
                        padding: 10px 10px 10px 40px;
                        white-space: normal;
                    }


                        .methods-header label br {
                            display: none;
                            visibility: hidden;
                        }

                    .methods-header input[type="radio"] {
                        left: 9px;
                        position: absolute;
                        top: 20px;
                    }

                    .methods-header input[type="checkbox"] {
                        left: 9px;
                        position: absolute;
                        top: 20px;
                    }

                    .methods-header h3 {
                        padding-bottom: 5px;
                    }

                        .methods-header h3 strong {
                            color: #e52620;
                        }

                    .methods-header label {
                        color: #666666;
                    }

                .payment h2 {
                    font-size: 14px;
                    margin: 0;
                    text-transform: uppercase;
                }

                .methods h3 {
                    font-size: 12px;
                    margin: 0;
                    padding-bottom: 10px;
                    text-transform: uppercase;
                }

                .methods p {
                    margin: 0;
                }

                .tb_method {
                    width: 100%;
                }

                #booking-agreement {
                    color: #0000ff;
                }

                    #booking-agreement a {
                        color: #ff0000;
                    }

                .select-bank { /* width: 22%;*/
                    border: 1px solid ghostwhite;
                    border-radius: 4px;
                    display: inline-block;
                    margin: 9px 8px;
                }
            </style>

        </form>
    </div>

