
@{
    Layout = null;
}
@using Flight.Models.Entity;
<!DOCTYPE html>

<html>
<head>
    
</head>
<body>
    <div> 
        <p>@Model.MaChuyenBay</p>
        <p>@Model.DiemDi</p>
        <p></p>
    </div>
</body>
</html>
