
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="vi">

<!-- Mirrored from vietjets.com.vn/ by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 09 Oct 2019 14:26:25 GMT -->
<!-- Added by HTTrack -->
<meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->
<head>
    <base />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Vietjet Air | Bay giá rẻ - Vui vẻ cả nhà | Giá chỉ từ 58.OOO VNĐ</title>
    <meta name="description" content="Bay nội địa - Bay quốc tế siêu rẻ với VietJet Air - Giá chỉ từ 58.OOO VND. Đặt mua vé máy bay Vietjet Air dễ dàng, nhanh chóng, thanh toán bảo mật an toàn tuyệt đối." />
    <meta name="keywords" content="Vietjet, vietjet air, Vietjet  air online vé máy bay giá rẻ vietjet, ve may bay, vé máy bay giá rẻ, vé khuyến mãi" />
    <link href="~/Content/image/vietjets.png" rel="shortcut icon" />
    <link href="~/javascript/jquery-ui-1.11.4.custom/jquery-ui.min.css" rel="stylesheet">
    <link href="~/javascript/jquery-ui-1.11.4.custom/jquery-ui.theme.min.css" rel="stylesheet">
    <link href="~/javascript/bxslider/jquery.bxslider.css" rel="stylesheet">

    <link href="~/themes/nokair/css/style_2019.css" rel="stylesheet">
    <link href="~/themes/nokair/css/style2.css" rel="stylesheet">
    <link href="~/javascript/datatables/jquery.dataTables.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/themes/nokair/js/uniform/themes/default/css/uniform.default.css" media="screen" />
    <script src="~/javascript/accounting.min.js"></script>
    <script src="~/javascript/jquery.min.js"></script>
    <link href="~/javascript/smoke.css" rel="stylesheet">
    <script src="~/javascript/smoke.min.js"></script>



    <meta name="google-site-verification" content="6NFXOM4EDOcL43T3fVj4Na_T2WJZKxppX20Gyms2RZE" />

    <!--- Global config -->
    <script>
        var base_url = 'index.html';
        var _THEME_ = 'themes/nokair/index.html';
        var _LANG_ = 'vi';</script>


</head>
<body>
    <script>
        function Chon_Click(giatien) {
                        alert('In');
                        $.ajax({
                              type: "POST",
                              url: "Detail",
                              data: "gia=" + id,
                              success: function(msg){
                              alert( "Data Saved: " + msg );
                              }
                        });
                    }
    </script>
    <h1 style="display: none;">Vietjet Air | Bay giá rẻ - Vui vẻ cả nhà | Giá chỉ từ 58.OOO VNĐ</h1>
    <div id="content">

        <header style="background: #FFEA90">


            <div class="logo">
                <a href="/Home/Index" title="Vietjet Air | Bay giá rẻ - Vui vẻ cả nhà | Giá chỉ từ 58.OOO VNĐ">
                    <img src="~/Content/image/logoa.jpg" width="300" height="80"  alt="" />
                </a>
            </div>



            <div id="toolbar">

                <div id="toolbardiv"><a style="background: white; color: black" href="Index">Về chúng tôi</a></div>
                <div id="toolbardiv"><a style="background: white; color: red" href="~/Admin/Login/Login">Đăng nhập đại lý</a></div>

            </div>


            <div class="user-menu">
                <div class="userdmenud">
                    <ul>

                        <li><a style=" ; color: white; font-size: 20px" href="/Home/Index">Trang chủ</a></li>



                    </ul>
                </div>
            </div>


        </header>  <div class="clear"></div>


        <body>

            @RenderBody()

        </body>


        <div id="footer" class="clearfix j30-footer">




            <div class="clearfix " id="footers">




                <div class="menu-bottom2">

                    <div class="col clearfix col2">
                        <ul class="m-bottom">
                            <li class="m-bottomt">
                                <a href="javascript:void(0)" style="font-family: GraublauWeb; color: #ff191a !important;">Thông tin cần biết</a>
                            </li>

                            <li>
                                <a href="thanh-toan-va-giao-nhan.html">Thanh toán và giao nhận</a>
                            </li>

                            <li>
                                <a href="dieu-khoan-su-dung.html">Điều khoản sử dụng</a>
                            </li>

                            <li>
                                <a href="chinh-sach-bao-mat.html">Chính sách bảo mật</a>
                            </li>

                            <li>
                                <a href="giay-to-tuy-than.html">Giấy tờ tùy thân</a>
                            </li>

                        </ul>
                    </div>

                    <div class="col clearfix col2">
                        <ul class="m-bottom">
                            <li class="m-bottomt">
                                <a href="javascript:void(0)" style="font-family: GraublauWeb; color: #ff191a !important;">Dịch vụ</a>
                            </li>

                            <li>
                                <a href="#">Dịch vụ trên chuyến bay</a>
                            </li>

                            <li>
                                <a href="#">Hàng hóa</a>
                            </li>

                            <li>
                                <a href="dat-ve-doan.html">Đặt vé đoán</a>
                            </li>

                            <li>
                                <a href="#">Dịch vụ hành lý</a>
                            </li>

                        </ul>
                    </div>

                    <div class="col clearfix col2">
                        <ul class="m-bottom">
                            <li class="m-bottomt">
                                <a href="javascript:void(0)" style="font-family: GraublauWeb; color: #ff191a !important;">Thông tin đặt chỗ</a>
                            </li>

                            <li>
                                <a href="huong-dan-dat-cho.html">Hướng dẫn đặt chỗ</a>
                            </li>

                            <li>
                                <a href="xem-lai-dat-ve.html">Quản lý đặt chỗ</a>
                            </li>

                            <li>
                                <a href="thanh-toan-va-giao-nhan.html">Kênh thanh toán</a>
                            </li>

                        </ul>
                    </div>


                    <div class="col clearfix col2" style="width: 259px;">
                        <ul class="m-bottom">
                            <li class="m-bottomt">
                                <a href="javascript:void(0)" style="font-family: GraublauWeb; color: #ff191a !important;">Cài đặt ứng dụng nhận nhiều ưu đãi  </a>
                            </li>

                            <li>
                                <a target="_blank" title="Nhấp vào để tải" href="https://play.google.com/store/apps/details?id=vn.teraapp.n8410&amp;hl=vi">
                                    <img src="~/themes/nokairm/img/app-store.png" alt="" style="height: 35px;">
                                </a>
                            </li>
                            <li>

                                <a target="_blank" title="Nhấp vào để tải" href="https://itunes.apple.com/us/app/bookvietjet/id1346969467?mt=8">
                                    <img src="~/themes/nokairm/img/google-play.png" alt="" style="height: 35px;">
                                </a>
                            </li>

                        </ul>
                    </div>


                    <div class="clear"></div>

                    <a style="float: right;" href="http://online.gov.vn/HomePage/CustomWebsiteDisplay.aspx?DocId=37061" target="new">
                        <img id="kk" src="~/userupload/hinhanh/dathongbao.png" style="border-width: 0px; position: absolute; width: 143px; right: 0px; top: 18px;">
                    </a>
                    <img id="kk" src="~/userupload/hinhanh/Credit-Card-Logos.png" style="border-width: 0px; position: absolute; right: 0px; top: 71px; width: 86px;">
                    <img id="kk" src="~/userupload/hinhanh/thanhtoanvisa.png" style="border-width: 0px; position: absolute; right: 0px; width: 194px; top: 117px;">

                </div>
                <div class="clear"></div>













            </div>










        </div>



        <script src="~/themes/nokair/js/uniform/jquery.uniform.js"></script>
        <script src="~/themes/nokair/js/jquery.nicescroll.min.js"></script>
        <script src="~/themes/nokair/js/ext.js"></script>
        <script src="~/themes/nokair/js/bootstrap.min.js"></script>

        <!--Start of Tawk.to Script-->
        <script type="text/javascript">
            var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
            (function () {
                var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
                s1.async = true;
                s1.src = 'https://embed.tawk.to/5653b7a90f76a5ca39f16081/default';
                s1.charset = 'UTF-8';
                s1.setAttribute('crossorigin', '*');
                s0.parentNode.insertBefore(s1, s0);
            })();</script>
        <!--End of Tawk.to Script-->
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-145015097-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag() { dataLayer.push(arguments); }
            gtag('js', new Date());

            gtag('config', 'UA-145015097-1');</script>

        <script>
            changeViewportMeta = function () {
                jQuery('meta[name=viewport]').attr('content', 'user-scalable=yes, initial-scale=0.7, maximum-scale=1.3, width=device-width');
                if (jQuery(window).width() <= 320) {
                    return jQuery('meta[name=viewport]').attr('content', 'user-scalable=yes, initial-scale=0.7, maximum-scale=1.3, width=480');
                } else if (jQuery(window).width() <= 480) {
                    return jQuery('meta[name=viewport]').attr('content', 'user-scalable=yes, initial-scale=0.7, maximum-scale=1.3, width=480');
                } else if (jQuery(window).width() <= 768) {
                    return jQuery('meta[name=viewport]').attr('content', 'user-scalable=yes, initial-scale=0.7, maximum-scale=1.3, width=920');
                } else if (jQuery(window).width() <= 1024) {
                    return jQuery('meta[name=viewport]').attr('content', 'user-scalable=yes, initial-scale=0.7, maximum-scale=1.3, width=920');
                }
            };

            jQuery(window).bind('orientationchange', changeViewportMeta)

            jQuery(document).ready(function () {
                changeViewportMeta();
            });</script>




        <script src="~/javascript/jquery-ui-1.11.4.custom/jquery-ui.min.js"></script>
        <script src="~/javascript/jquery.validate.min.js"></script>
        <script src="~/javascript/ui.datepicker.lunar.min.js"></script>
        <script src="~/javascript/bxslider/jquery.bxslider.js"></script>
        <script src="~/javascript/jquery.cookie.js"></script>
        <script src="~/javascript/app2.js"></script>
        <h2 style="display: none;">Đặt chỗ trên chuyến bay</h2>
</body>

<!-- Mirrored from vietjets.com.vn/ by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 09 Oct 2019 14:27:04 GMT -->
</html>

