
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DeleteBaggage</title>
</head>
<body>
    <div> 
        xoa hanh ly thanh cong 

    </div>
</body>
</html>
