
@{
    Layout = null;
}

<form action="~/Khoa_thu6/AddBaggage" method="POST">
     Ma hanh ly : <input type="text" name="mahanhly"/> <br />
    Ten hanh ly: <input type="text" name="tenhanhly"/><br />
    Loai hanh ly: <input type="number"name="loaihanhly"/><br />
    Gia tien : <input type="number" name="giatien"/><br />
    <input type="submit" value=" Submit" />
</form>
