
@{
    Layout = null;
}

<form action="~/Khoa_thu6/ThongKe_KiemTra" method="POST">
    Ngay 1: <input type="text" name="ngay1"/><br />
    Ngay 2: <input type="text" name="ngay2"/><br />
    <input type="submit" value=" submit" />
</form>
