
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ThongKe_KiemTra</title>
</head>
<body>
    <div> 
        Từ ngày @ViewBag.ngay1 đến ngày @ViewBag.ngay2 có @ViewBag.thongke vé được đặt thành công 
    </div>
</body>
</html>
