
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ThongKeThanhCong</title>
</head>
<body>
    <div> 
        Trong ngày @ViewBag.ngay1 đến ngày @ViewBag.ngay2 có  @ViewBag.thongke vé đặt thành công 
    </div>
</body>
</html>
