
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="vi">

<!-- Mirrored from vietjets.com.vn/ by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 09 Oct 2019 14:26:25 GMT -->
<!-- Added by HTTrack -->
<meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->
<head>
    <base />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Vietjet Air | Bay giá rẻ - Vui vẻ cả nhà | Giá chỉ từ 58.OOO VNĐ</title>
    <meta name="description" content="Bay nội địa - Bay quốc tế siêu rẻ với VietJet Air - Giá chỉ từ 58.OOO VND. Đặt mua vé máy bay Vietjet Air dễ dàng, nhanh chóng, thanh toán bảo mật an toàn tuyệt đối." />
    <meta name="keywords" content="Vietjet, vietjet air, Vietjet  air online vé máy bay giá rẻ vietjet, ve may bay, vé máy bay giá rẻ, vé khuyến mãi" />
    <link href="vietjets.png" rel="shortcut icon" />
    <link href="~/javascript/jquery-ui-1.11.4.custom/jquery-ui.min.css" rel="stylesheet">
    <link href="~/javascript/jquery-ui-1.11.4.custom/jquery-ui.theme.min.css" rel="stylesheet">
    <link href="~/javascript/bxslider/jquery.bxslider.css" rel="stylesheet">

    <link href="~/themes/nokair/css/style_2019.css" rel="stylesheet">
    <link href="~/themes/nokair/css/style2.css" rel="stylesheet">
    <link href="~/javascript/datatables/jquery.dataTables.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/themes/nokair/js/uniform/themes/default/css/uniform.default.css" media="screen" />
    <script src="~/javascript/accounting.min.js"></script>
    <script src="~/javascript/jquery.min.js"></script>
    <link href="~/javascript/smoke.css" rel="stylesheet">
    <script src="~/javascript/smoke.min.js"></script>



    <meta name="google-site-verification" content="6NFXOM4EDOcL43T3fVj4Na_T2WJZKxppX20Gyms2RZE" />

    <!--- Global config -->
    <script>
        var base_url = 'index.html';
        var _THEME_ = '~/themes/nokair/index.html';
        var _LANG_ = 'vi';
    </script>


</head>
<body>
    @if (TempData["notice"] != null)
    {
        var message = @TempData["notice"];
        <script>
            var message = '@message';
            alert(message);
        </script>
    }
    <h1 style="display: none;">Vietjet Air | Bay giá rẻ - Vui vẻ cả nhà | Giá chỉ từ 58.OOO VNĐ</h1>
    <div id="content">
        <header>

            <div class="logo">
                <a href="index.html" title="Vietjet Air | Bay giá rẻ - Vui vẻ cả nhà | Giá chỉ từ 58.OOO VNĐ">

                </a>
            </div>



            <div id="toolbar">
                <div id="toolbardiv"><a href="gioi-thieu-ve-chung-toi.html">Về chúng tôi</a></div>
                <div id="toolbardiv"><a href="Login">Đăng nhập</a></div>
            </div>


            <div class="user-menu">
                <div class="userdmenud">
                    <ul>

                        <li><a href="/Home/Index">Trang chủ</a></li>



                    </ul>
                </div>
            </div>


        </header>  <div class="clear"></div>


        <div id="wrap2">







            <div class="clear"></div>



            <div class="search-flightd">
                <div class="search-flight">
                    <div class="tabABAY">
                        <h2 class="tabDatvemaybay">
                            <img src="~/userupload/Plane.png" class="airplane" alt=""> Đăng nhập
                            <div class="clr"></div>
                        </h2>
                        <a href="https://www.agoda.com/vi-vn?cid=1759323" target="_blank" rel="nofollow">
                        </a>
                        <div class="clr"></div>
                    </div>
                    <div class="content-flight">

                        <form method="POST" class="search-form" action="/Admin/Login/SignIn">
                            <div class="pad3">

                                <!--line-->





                                <div class="col1">
                                    <table>
                                        <tr>
                                            <td>
                                                <div class="in">
                                                    <div class="in-right">
                                                        <div class="input-group" style="overflow: hidden; width: 204px; border-right: 1px solid rgb(105, 105, 105);">

                                                            <label>TÊN ĐĂNG NHẬP: </label>

                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="in">
                                                    <div class="in-left">
                                                        <div class="input-group" style="overflow: hidden; width: 204px; border-right: 1px solid rgb(105, 105, 105);">

                                                            <input type="username" name="username" class="airport-input" placeholder="username" />

                                                        </div>
                                                    </div>
                                                </div>
                                            </td>

                                
                                </tr>
                                <tr>
                                    <td>
                                        <div class="clear"></div>
                                        <div class="in">
                                            <div class="in-right">
                                                <div class="input-group" style="overflow: hidden; width: 204px; border-right: 1px solid rgb(105, 105, 105);">

                                                    <label>MẬT KHẨU:</label>
                                                </div>
                                            </div>

                                            <div class="clear"></div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="clear"></div>
                                        <div class="in">
                                            <div class="in-left">
                                                <div class="input-group" style="overflow: hidden; width: 204px; border-right: 1px solid rgb(105, 105, 105);">
                                                    <input type="password" name="password" class="airport-input" placeholder="password" />
                                                </div>
                                            </div>

                                            <div class="clear"></div>
                                        </div>
                                    </td>
                                </tr>
                                </table>
                                <style>
                                    #depAirport > option {
                                        text-indent: 15px;
                                    }

                                    #arvAirport > option {
                                        text-indent: 15px;
                                    }

                                    .grot {
                                        color: red;
                                        font-weight: bold;
                                        font-style: italic;
                                        text-indent: 0 !important;
                                    }
                                </style>



                            </div>

                            <style>
                                .col2 .field {
                                    margin-bottom: 21px;
                                }

                                .in {
                                    margin-bottom: 9px !important;
                                    margin-top: 3px;
                                }

                                .content-flight label {
                                    color: white;
                                }
                            </style>
                            <div class="col2">


                            </div>







                            <div class="clear"></div>
                            <div class="">









                            </div>


                            <div class="clear"></div>

                            <div class="field right">
                                <button class="png-bg" type="submit">
                                    <img alt="SUBMIT" src="timicon.png" style="border-width: 0px; width: 24px; margin: 0px -1px -4px 0px;">

                                </button>
                            </div>

                            <div style="float: left; padding: 15px 0 0 5px; font-weight: bold;"> <a target="blank" href="huong-dan-dat-cho.html" style="font-family: tahoma;">* Quên mật khẩu</a> </div>




                    </div>
                    </form>
                </div>

            </div>


            <link rel="stylesheet" href="~/themes/nokair/assets/slide2019/css/flexslider.css" />
            <link rel="stylesheet" href="~/themes/nokair/assets/slide2019/css/demo.css" />
            <style type="text/css">
            </style>
            <div id="hero">
                <div class="flexslider">
                    <ul class="slides">


                        <li><a href="javascript:void(0)"> <img src="~/userupload/silde/Mo_ban_ve_vietjet_Ha_noi_da_nang_ho_chi_minh_di_nhat_ban.jpg" alt="Mùa thu Nhật Bản" />  </a></li>

                        <li><a href="javascript:void(0)"> <img src="~/userupload/silde/DU_LICH_HES.png" alt="Khuyến mãi hấp dẫn" />  </a></li>

                        <li><a href="javascript:void(0)"> <img src="~/userupload/hinh2019/ve_may_bay_vietjet_mua_he_soi_dong_2019.png" alt="Mùa hè sôi động" />  </a></li>


                    </ul>
                </div>
            </div>

            <script src="~/themes/nokair/assets/slide2019/js/jquery.flexslider-min.js"></script>
            <script src="~/themes/nokair/assets/slide2019/js/demo.js"></script>



        </div>


        <script>

            $(document).ready(function () {
                /*	$('#sub-form').submit(function(event){
                        event.preventDefault();
                        var email = $(this).find('#email');
                        var str = $(this).serialize();
                        var patt = /[\w-]+([\w-]+\.)+[\w-]+/;
                        if(patt.test(email.val())){
                            $.ajax(base_url+'service/subscribe',{
                                type: 'POST',
                                dataType: 'json',
                                data: str
                            }).done(function(d,r,t){
                                alert(d.message);
                                email.val('');
                            });
                        }else{
                            alert('Vui lòng nhập email hợp lệ');
                        }

                    });*/




                /*
                if($.cookie('dep_airport')){
                //alert('fghfghfgh');
                    $('#depAirport').val($.cookie('dep_airport'));
                }else{
                    $('#depAirport').val('Hồ Chí Minh (SGN)');
                }
                if($.cookie('arv_airport')){
                //alert('fghfghfghfffffffffffff');
                    $('#arvAirport').val($.cookie('arv_airport'));
                }else{
                    $('#arvAirport').val('Hà Nội (HAN)');
                }
                */

            });



        </script>



















        <div class="clear"></div>
        <div class="clear40x"></div>



        <div class="claimer">

            <div class="specials-wrapper clearfix">

                <div style="min-height: 0px; font-family: GraublauWebb;" class="j30-flight-specials" id="specials_0_refreshspecials_0_pnlSpecials">
                    <h2 class="brandBold2 ">Giá ưu đãi</h2>

                    <div class="clear"></div>

                    <div class="key">
                        <span class="dest">Hành trình*</span>
                        <span class="price" style="width: 226px; padding-left: 61px; padding-right: 19px;">Giá từ*</span>
                        <span class="period">Thời gian bay*</span>
                        <span></span>
                    </div>
                    <div class="results">
                        <ul>



                            <li>
                                <a href="flight/searcha46f.html" class="lead-in">
                                    <span data-airport="" class="dest" style="padding-top: 4px;">Đà Nẵng - TP Hồ Chí Minh</span>


                                    <span class="price" style="padding-top: 4px; text-align: right; padding-right: 20px; width: 103px;"><strong class="currencyx">99000</strong></span>


                                    <span class="period" style="font-weight: bold; line-height: 27px; font-size: 15px;">16/10/2019</span>

                                    <span class="book" style="line-height: 24px;">	Mua ngay<span class="icon"></span></span>
                                </a>
                            </li>

                            <li>
                                <a href="flight/searchfc20.html" class="lead-in">
                                    <span data-airport="" class="dest" style="padding-top: 4px;">Vinh - TP Hồ Chí Minh</span>


                                    <span class="price" style="padding-top: 4px; text-align: right; padding-right: 20px; width: 103px;"><strong class="currencyx">299000</strong></span>


                                    <span class="period" style="font-weight: bold; line-height: 27px; font-size: 15px;">24/10/2019</span>

                                    <span class="book" style="line-height: 24px;">	Mua ngay<span class="icon"></span></span>
                                </a>
                            </li>

                            <li>
                                <a href="flight/searchf81d.html" class="lead-in">
                                    <span data-airport="" class="dest" style="padding-top: 4px;">Hà Nội - TP Hồ Chí Minh</span>


                                    <span class="price" style="padding-top: 4px; text-align: right; padding-right: 20px; width: 103px;"><strong class="currencyx">399000</strong></span>


                                    <span class="period" style="font-weight: bold; line-height: 27px; font-size: 15px;">10/10/2019</span>

                                    <span class="book" style="line-height: 24px;">	Mua ngay<span class="icon"></span></span>
                                </a>
                            </li>

                            <li>
                                <a href="flight/search034b.html" class="lead-in">
                                    <span data-airport="" class="dest" style="padding-top: 4px;">TP Hồ Chí Minh - Vinh</span>


                                    <span class="price" style="padding-top: 4px; text-align: right; padding-right: 20px; width: 103px;"><strong class="currencyx">299000</strong></span>


                                    <span class="period" style="font-weight: bold; line-height: 27px; font-size: 15px;">21/11/2019</span>

                                    <span class="book" style="line-height: 24px;">	Mua ngay<span class="icon"></span></span>
                                </a>
                            </li>

                            <li>
                                <a href="flight/searcheec2.html" class="lead-in">
                                    <span data-airport="" class="dest" style="padding-top: 4px;">Cần Thơ - Hải Phòng</span>


                                    <span class="price" style="padding-top: 4px; text-align: right; padding-right: 20px; width: 103px;"><strong class="currencyx">399000</strong></span>


                                    <span class="period" style="font-weight: bold; line-height: 27px; font-size: 15px;">16/10/2019</span>

                                    <span class="book" style="line-height: 24px;">	Mua ngay<span class="icon"></span></span>
                                </a>
                            </li>

                            <li>
                                <a href="flight/search9323.html" class="lead-in">
                                    <span data-airport="" class="dest" style="padding-top: 4px;">Seoul - Hải Phòng</span>


                                    <span class="price" style="padding-top: 4px; text-align: right; padding-right: 20px; width: 103px;"><strong class="currencyx">199000</strong></span>


                                    <span class="period" style="font-weight: bold; line-height: 27px; font-size: 15px;">12/10/2019</span>

                                    <span class="book" style="line-height: 24px;">	Mua ngay<span class="icon"></span></span>
                                </a>
                            </li>

                            <li>
                                <a href="flight/searche2e7.html" class="lead-in">
                                    <span data-airport="" class="dest" style="padding-top: 4px;">TP Hồ Chí Minh - Hải Phòng</span>


                                    <span class="price" style="padding-top: 4px; text-align: right; padding-right: 20px; width: 103px;"><strong class="currencyx">1260000</strong></span>


                                    <span class="period" style="font-weight: bold; line-height: 27px; font-size: 15px;">13/10/2019</span>

                                    <span class="book" style="line-height: 24px;">	Mua ngay<span class="icon"></span></span>
                                </a>
                            </li>

                            <li>
                                <a href="flight/search5ee8.html" class="lead-in">
                                    <span data-airport="" class="dest" style="padding-top: 4px;">Hà Nội - TP Hồ Chí Minh</span>


                                    <span class="price" style="padding-top: 4px; text-align: right; padding-right: 20px; width: 103px;"><strong class="currencyx">399000</strong></span>


                                    <span class="period" style="font-weight: bold; line-height: 27px; font-size: 15px;">10/10/2019</span>

                                    <span class="book" style="line-height: 24px;">	Mua ngay<span class="icon"></span></span>
                                </a>
                            </li>




                        </ul>
                    </div>
                    <div class="disclaimer">
                        <p style="font-family: GraublauWeb; font-size: 10px;">* Chưa bao gồm: Thuế + phí, hành lý ký gửi, các yêu cầu đặc biệt trong chuyến bay và có áp dụng các điều kiện. </p>
                    </div>
                </div>



                <div class="j30-alerts-and-ads">
                    <div class="callcenter">
                        Call center: 028.3898 3898
                    </div>
                    <div class="calljetstar">
                        <div style="background: rgb(253, 235, 199) none repeat scroll 0% 0%; margin: 17px 0px 10px; padding: 23px 29px 10px;" class="join-myjetstar">

                            <div class="field">

                                <form name="frmSubcribe" id="frmSubcribe" class="form-inlinex subscribe-formx" method="POST" action="https://vietjets.com.vn/home/subscribe">


                                    <input type="text" class="text focus-clear txtJetmailEmail" title="Email của bạn" id="ctl06_ctl00_JetmailSignup2_txtJetmailEmail" value="" name="email" placeholder="Đăng ký Email khuyến mãi" style="float: left; border-radius: 4px; border: 1px solid rgb(209, 209, 209); color: rgb(78, 78, 80); padding: 8px 4px; width: 205px;" />

                                    <button class="btnEmailSubmit dkmail" id="" value="" name="" type="submit">
                                        Đăng ký
                                    </button>


                                    <div class="error" style="margin-top: 10px; color: #C00101"></div>
                                </form>

                            </div>

                        </div>
                    </div>



                    <div class="j30-alerts-and-ads">
                        <div class="promo image-promo"><img src="~/userupload/Od-1_1.jpg" alt="" width="375" height="325" />&nbsp;</div>
                    </div>
                </div>
            </div>



            <div class="clear"></div>

            <hr style="border: medium none; height: 1px; background: rgb(219, 219, 219) none repeat scroll 0% 0%; width: 98%; margin-top: 10px; margin-bottom: 17px;">







            <h2 class="brandBold ">Khách sạn</h2>

            <div class="j30-feature-block">
                <ul class="clearfix eq-container init-0 init-2 init-1">

                    <li class="eq-item" style="">
                        <a class="clearfix" href="Home/Index" target="_blank">
                            <strong class="hotel-discount">Giảm  31%</strong><img width="325" height="180" alt="" src="thumb9de2.jpg?src=~/userupload/khachsan/hinh1.jpg">
                            <span class="deal">
                                <strong class="dest">Hotel Nikko Saigon</strong>
                                <p>Hồ Chí Minh</p>
                            </span>
                            <span class="cost"><span class="rating"><i class="rating-symbol rating-5">5</i></span> đêm từ<span class="price">VND<span class="value">3,480,960</span></span></span>
                        </a>
                    </li>
                    <li style="" class="eq-item">
                        <a target="_blank" href="index.html" class="clearfix">
                            <strong class="hotel-discount">Giảm  22%</strong><img width="325" height="180" src="thumb1457.jpg?src=~/userupload/khachsan/hinh2.jpg" alt="">
                            <span class="deal">
                                <strong class="dest">Peninsula Excelsior Hotel</strong>
                                <p>Singapore</p>
                            </span>
                            <span class="cost"><span class="rating"><i class="rating-symbol rating-4">4</i></span> đêm từ<span class="price">VND<span class="value">2,955,668</span></span></span>
                        </a>
                    </li>
                    <li style="" class="eq-item">
                        <a target="_blank" href="index.html" class="clearfix">
                            <strong class="hotel-discount">Giảm  22%</strong><img width="325" height="180" src="thumb389c.jpg?src=~/userupload/khachsan/hinh3.jpg" alt="">
                            <span class="deal">
                                <strong class="dest">Peninsula Excelsior Hotel</strong>
                                <p>Singapore</p>
                            </span>
                            <span class="cost"><span class="rating"><i class="rating-symbol rating-4">4</i></span> đêm từ<span class="price">VND<span class="value">2,955,668</span></span></span>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="clear"></div>
            <div class="disclaimer">
                <p>Giá tính cho mỗi phòng, từng đêm và khác nhau tùy thuộc vào ngày nhận phòng, thời hạn nghỉ và loại phòng. Có áp dụng điều kiện.</p>
            </div>

            <div class="what-we-offer clearfix">

            </div>

        </div>

        <div class="clear"></div>






        <div class="clear"></div>
    </div>



    <div id="footer" class="clearfix j30-footer">




        <div class="clearfix " id="footers">




            <div class="menu-bottom2">

                <div class="col clearfix col2">
                    <ul class="m-bottom">
                        <li class="m-bottomt">
                            <a href="javascript:void(0)" style="font-family: GraublauWeb; color: #ff191a !important;">Thông tin cần biết</a>
                        </li>

                        <li>
                            <a href="thanh-toan-va-giao-nhan.html">Thanh toán và giao nhận</a>
                        </li>

                        <li>
                            <a href="dieu-khoan-su-dung.html">Điều khoản sử dụng</a>
                        </li>

                        <li>
                            <a href="chinh-sach-bao-mat.html">Chính sách bảo mật</a>
                        </li>

                        <li>
                            <a href="giay-to-tuy-than.html">Giấy tờ tùy thân</a>
                        </li>

                    </ul>
                </div>

                <div class="col clearfix col2">
                    <ul class="m-bottom">
                        <li class="m-bottomt">
                            <a href="javascript:void(0)" style="font-family: GraublauWeb; color: #ff191a !important;">Dịch vụ</a>
                        </li>

                        <li>
                            <a href="#">Dịch vụ trên chuyến bay</a>
                        </li>

                        <li>
                            <a href="#">Hàng hóa</a>
                        </li>

                        <li>
                            <a href="dat-ve-doan.html">Đặt vé đoán</a>
                        </li>

                        <li>
                            <a href="#">Dịch vụ hành lý</a>
                        </li>

                    </ul>
                </div>

                <div class="col clearfix col2">
                    <ul class="m-bottom">
                        <li class="m-bottomt">
                            <a href="javascript:void(0)" style="font-family: GraublauWeb; color: #ff191a !important;">Thông tin đặt chỗ</a>
                        </li>

                        <li>
                            <a href="huong-dan-dat-cho.html">Hướng dẫn đặt chỗ</a>
                        </li>

                        <li>
                            <a href="xem-lai-dat-ve.html">Quản lý đặt chỗ</a>
                        </li>

                        <li>
                            <a href="thanh-toan-va-giao-nhan.html">Kênh thanh toán</a>
                        </li>

                    </ul>
                </div>


                <div class="col clearfix col2" style="width: 259px;">
                    <ul class="m-bottom">
                        <li class="m-bottomt">
                            <a href="javascript:void(0)" style="font-family: GraublauWeb; color: #ff191a !important;">Cài đặt ứng dụng nhận nhiều ưu đãi  </a>
                        </li>

                        <li>
                            <a target="_blank" title="Nhấp vào để tải" href="https://play.google.com/store/apps/details?id=vn.teraapp.n8410&amp;hl=vi">
                                <img src="~/themes/nokairm/img/app-store.png" alt="" style="height: 35px;">
                            </a>
                        </li>
                        <li>

                            <a target="_blank" title="Nhấp vào để tải" href="https://itunes.apple.com/us/app/bookvietjet/id1346969467?mt=8">
                                <img src="~/themes/nokairm/img/google-play.png" alt="" style="height: 35px;">
                            </a>
                        </li>

                    </ul>
                </div>


                <div class="clear"></div>

                <a style="float: right;" href="http://online.gov.vn/HomePage/CustomWebsiteDisplay.aspx?DocId=37061" target="new">
                    <img id="kk" src="~/userupload/hinhanh/dathongbao.png" style="border-width: 0px; position: absolute; width: 143px; right: 0px; top: 18px;">
                </a>
                <img id="kk" src="~/userupload/hinhanh/Credit-Card-Logos.png" style="border-width: 0px; position: absolute; right: 0px; top: 71px; width: 86px;">
                <img id="kk" src="~/userupload/hinhanh/thanhtoanvisa.png" style="border-width: 0px; position: absolute; right: 0px; width: 194px; top: 117px;">

            </div>
            <div class="clear"></div>













        </div>










    </div>






    <div class="footer-wrapper">

        <div class="copyright">
            <p style="text-align: center; color: red;"><span style="color: #000000;">&nbsp;Copyright &copy; 2008. <strong>Lighthouse Corp</strong>. |&nbsp;<a href="https://www.google.com/maps/place/VIETJETBOOKING/10.8044244,106.7213693,15z/data=!4m5!3m4!1s0x0:0xdf247f5279b69cf0!8m2!3d10.8044244!4d106.7213693"><span style="color: #000000;">#260 Ung Văn Khi&ecirc;m - Q.B&igrave;nh Thạnh - Tp.HCM</span></a> -&nbsp;Tel: 028.3898.3898</span></p>
            <p style="text-align: center; color: red;"><span style="color: #000000;"><em>GĐKKD số : 030 535 9989 - Sở Kế Hoạch v&agrave; Đầu Tư Tp HCM Cấp ng&agrave;y : 14/11/2007&nbsp;</em></span></p>
            <p style="text-align: center; color: red;">
                <span>
                    <span style="color: #000000;"><a href="mailto:info@vietjets.com.vn"><span style="color: #000000;"><strong><span style="color: #4e4b4b;">Email: chunickdeptrailam@gmail.com</span></strong></span></a></span><span style="text-decoration: underline;">
                        <a class="__cf_email__" href="cdn-cgi/l/email-protection.html" data-cfemail="a6d2cfc5cdc3d2e6d0cfc3d2ccc3d2c4c9c9cd">
                            <span class="__cf_email__" data-cfemail="9febf6fcf4faebdfe9f6faebf5faebfdf0f0f4f6f1f8b1e9f1"><br /></span>
                            <script type="mce-text/javascript" data-cfhash="f9e31">
                                // <![CDATA[
                                !function(t,e,r,n,c,a,p){try{t=document.currentScript||function(){for(t=document.getElementsByTagName('script'),e=t.length;e--;)if(t[e].getAttribute('data-cfhash'))return t[e]}();if(t&&(c=t.previousSibling)){p=t.parentNode;if(a=c.getAttribute('data-cfemail')){for(e='',r='0x'+a.substr(0,2)|0,n=2;a.length-n;n+=2)e+='%'+('0'+('0x'+a.substr(n,2)^r).toString(16)).slice(-2);p.replaceChild(document.createTextNode(decodeURIComponent(e)),c)}p.removeChild(t)}}catch(u){}}()
                                // ]]></script>
                        </a>
                    </span>
                </span>
            </p>
            <script type="mce-mce-mce-mce-mce-mce-text/javascript">
                // <![CDATA[
                $(document).ready(function(){
                    var x = $("#top");
                    if(x.length > 0)
                    {
                        x.eq(0).css("text-align", "center");
                    }
                });
                // ]]></script>
        </div>


    </div>





    <script src="~/themes/nokair/js/uniform/jquery.uniform.js"></script>
    <script src="~/themes/nokair/js/jquery.nicescroll.min.js"></script>
    <script src="~/themes/nokair/js/ext.js"></script>
    <script src="~/themes/nokair/js/bootstrap.min.js"></script>

    <!--Start of Tawk.to Script-->
    <script type="text/javascript">
            var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
            (function () {
                var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
                s1.async = true;
                s1.src = 'https://embed.tawk.to/5653b7a90f76a5ca39f16081/default';
                s1.charset = 'UTF-8';
                s1.setAttribute('crossorigin', '*');
                s0.parentNode.insertBefore(s1, s0);
            })();
    </script>
    <!--End of Tawk.to Script-->
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-145015097-1"></script>
    <script>
            window.dataLayer = window.dataLayer || [];
            function gtag() { dataLayer.push(arguments); }
            gtag('js', new Date());

            gtag('config', 'UA-145015097-1');
    </script>

    <script>
            changeViewportMeta = function () {
                jQuery('meta[name=viewport]').attr('content', 'user-scalable=yes, initial-scale=0.7, maximum-scale=1.3, width=device-width');
                if (jQuery(window).width() <= 320) {
                    return jQuery('meta[name=viewport]').attr('content', 'user-scalable=yes, initial-scale=0.7, maximum-scale=1.3, width=480');
                } else if (jQuery(window).width() <= 480) {
                    return jQuery('meta[name=viewport]').attr('content', 'user-scalable=yes, initial-scale=0.7, maximum-scale=1.3, width=480');
                } else if (jQuery(window).width() <= 768) {
                    return jQuery('meta[name=viewport]').attr('content', 'user-scalable=yes, initial-scale=0.7, maximum-scale=1.3, width=920');
                } else if (jQuery(window).width() <= 1024) {
                    return jQuery('meta[name=viewport]').attr('content', 'user-scalable=yes, initial-scale=0.7, maximum-scale=1.3, width=920');
                }
            };

            jQuery(window).bind('orientationchange', changeViewportMeta)

            jQuery(document).ready(function () {
                changeViewportMeta();
            });

    </script>




    <script src="~/javascript/jquery-ui-1.11.4.custom/jquery-ui.min.js"></script>
    <script src="~/javascript/jquery.validate.min.js"></script>
    <script src="~/javascript/ui.datepicker.lunar.min.js"></script>
    <script src="~/javascript/bxslider/jquery.bxslider.js"></script>
    <script src="~/javascript/jquery.cookie.js"></script>
    <script src="~/javascript/app2.js"></script>
    <h2 style="display: none;">Đặt chỗ trên chuyến bay</h2>
</body>
<!-- Mirrored from vietjets.com.vn/ by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 09 Oct 2019 14:27:04 GMT -->
</html>
