
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Suahanhli</title>
</head>
<body>
    <div> 
        <form action="/Khoa/SuaHanhLiThanhCong" method="post">
            Mã Hành lí : <input type="text" name="mahanhli" /><br />
            Tên hành lí: <input type="text" name="tenhanhli" /><br />
            Loại Hành Lí: <input type="number" name="Loaihanhli" /><br />
            Giá tiền : <input type="number" name="giatien" /><br />
            <input type="submit" value="submit" />
        </form>
    </div>
</body>
</html>
