
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ThemHanhLiThanhCong</title>
</head>
<body>
    <div> 
        Thêm hành lí thành công.        
    </div>
</body>
</html>
