
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>XoaHanhLiThanhCong</title>
</head>
<body>
    <div> 
        Bạn đã xóa hành lí thành công. 
    </div>
</body>
</html>
