<tr style=" none repeat scroll 0px 0px; border-top: 1px solid rgb(0, 99, 152);">
    <td style="width: 200px;">
        <span>Giới tính<div style="color: red; display: inline;"> (*)</div></span> <br>
        <select id="adultSex" name="[0].adultSex" class="form-control" style=" ">
            <option value="Ông">Ông</option>
            <option value="Bà">Bà</option>
        </select>
    </td>
    <td style="width: 310px;">
        <span>Họ tên<div style="color: red; display: inline;"> (*)</div></span> <br>
        <input placeholder="Nguyen Van A" id="adultName" name="[0].adultName" class="form-control" type="text" data-val="true" data-val-length="The field Name must be a string with a maximum length of 200." data-val-length-max="200" data-val-length-min="5" data-val-required="Họ tên bắt buộc" title="Vui lòng nhập họ và tên." pattern=".{6,}" required="">
    </td>
    <td>
        <span>Ngày sinh</span> <br>
        <input id="adultBirthday" name="[0].adultBirthday" type="text" class="form-control" placeholder="28/01/1970" style="padding: 6px 1px 7px 11px;">
    </td>
    <td>
        <span>Hành Lý</span> <br>
        <select id="adultBaggage" name="[0].adultBaggage" class="form-control">
            <option value="1">Không mua thêm hành lý</option>
            <option value="2">Gói 1 - 15kg - 175.000 VNĐ</option>
            <option value="3">Gói 2 - 20kg - 196.000 VNĐ</option>
            <option value="11">Gói 3 - 25kg - 260.000 VNĐ</option>
            <option value="12">Gói 4 - 30kg - 370.000 VNĐ</option>
            <option value="13">Gói 5 - 35kg - 430.000 VNĐ</option>
            <option value="14">Gói 6 - 40kg - 480.000 VNĐ</option>
        </select>
    </td>
</tr>