<tr style=" none repeat scroll 0px 0px; border-top: 1px solid rgb(0, 99, 152);">
    <td>
        <span>Giới tính<div style="color: red; display: inline;"> (*)</div></span> <br>
        <select id="childSex" name="[0].childSex" class="form-control">
            <option value="Nam">Nam</option>
            <option value="Nữ">Nữ</option>
        </select>
    </td>
    <td>
        <span>Họ tên<div style="color: red; display: inline;"> (*)</div></span> <br>
        <input id="childName" placeholder="Nguyen Van A" name="[0].childName" class="form-control" type="text" required="" aria-required="true" aria-invalid="true">
    </td>
    <td>
        <span>Ngày sinh<div style="color: red; display: inline;"> (*)</div></span> <br>
        <input id="childBirthday" name="[0].childBirthday" type="text" class="form-control" placeholder="20/10/2007" style="padding: 6px 1px 7px 11px;">
    </td>
    <td>
        <span>Hành Lý</span> <br>
        <select id="childBaggage" name="[0].childBaggage" class="form-control">
            <option value="1">Không mua thêm hành lý</option>
            <option value="2">Gói 1 - 15kg - 175.000 VNĐ</option>
            <option value="3">Gói 2 - 20kg - 196.000 VNĐ</option>
            <option value="11">Gói 3 - 25kg - 260.000 VNĐ</option>
            <option value="12">Gói 4 - 30kg - 370.000 VNĐ</option>
            <option value="13">Gói 5 - 35kg - 430.000 VNĐ</option>
            <option value="14">Gói 6 - 40kg - 480.000 VNĐ</option>
        </select>
    </td>
</tr>
