<tr style=" none repeat scroll 0px 0px; border-top: 1px solid rgb(0, 99, 152);">
    <td>
        <span>Giới tính<div style="color: red; display: inline;"> (*)</div></span> <br>
        <select id="infantSex" name="[0].infantSex" class="form-control">
            <option value="Nam">Nam</option>
            <option value="Nữ">Nữ</option>
        </select>
    </td>
    <td>
        <span>Họ tên<div style="color: red; display: inline;"> (*)</div></span> <br>
        <input id="infantName" placeholder="Nguyen Van A" name="[0].infantName" class="form-control" type="text" required="" aria-required="true" aria-invalid="true">
    </td>
    <td>
        <span>Ngày sinh<div style="color: red; display: inline;"> (*)</div> </span> <br>
        <input id="infantBirthday" name="[0].infantBirthday" type="text" class="form-control" placeholder="20/10/2016" style="padding: 6px 1px 7px 11px;" required="" aria-required="true" aria-invalid="true">
    </td>
</tr>
